@tailwind components;
@tailwind base;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600,900");
$primary: #F65261;

* {
    font-family: 'Montserrat', Arial;
    font-weight: 500;
    box-sizing: border-box;
}

b {
    font-weight: 900;
    transition: color 1s ease-in;
}

a {
    text-decoration: none;
}

.search-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: transparent;
    &:before {
        content: "";
        width: 17px;
        height: 17px;
        border: 2px solid #F65261;
        display: inline-block;
        border-radius: 50%;
    }

    &:after {
        content: "";
        width: 0;
        height: 10PX;
        border: 1px solid #F65261;
        position: absolute;
        top: calc(50% - -4px);
        left: calc(50% - 13px);
        transform: rotate(45deg);
    }
}

.btn {
    cursor: pointer;
    transition: background-color 200ms ease-in;
    transition: color 200ms ease-in;

    &:hover {
        background-color: #fff;
        color: $primary;

    }
}

.close {
    background: transparent;
    border: none;
    color: #FFF;
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
    font-size: 16px;
}

.modal {
    color: #FFF;
    position: absolute;
    padding: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 177px;
    background: #232323;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 10px 50px rgba(0, 0, 0, 0.05);

    .close {
        font-size: 30px;
        top: 2px;
        right: 10px;
    }

    h2 {
        color: #FFF;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0 0 30px;
    }

    p {
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .modal-buttons {
        display: flex;
        justify-content: flex-end;
        padding: 30px 0;

        button {
            color: $primary;
            cursor: pointer;
            text-transform: uppercase;
            border: 2px solid $primary;
            background: transparent;
            border-radius: 4px;
            height: 57px;
            padding: 0 30px;
            margin-left: 10px;
            font-size: 20px;
            line-height: 24px;
        }

        .confirm {
            color: #FFF;
            background: $primary;
        }
    }
}

.overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 35, 35, 0.8);
    mix-blend-mode: normal;
    backdrop-filter: blur(12.2323px);
}

form {

    label,
    >span {
        padding-bottom: 15px;
        text-transform: uppercase;
        display: block;

        input,
        textarea {
            margin-top: 10px
        }
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    input[type="checkbox"] {
        cursor: pointer;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    textarea {

        width: 100%;
        color: #FFF;
        display: block;
        border: none;
        background: rgba(50, 50, 50, 0.948044);
        mix-blend-mode: normal;
        opacity: 0.8;
        border-radius: 4px;
        font-size: 20px;
        line-height: 24px;
        padding: 15px;
    }
}

body {
    background-color: #555;
    margin: 0;
}

.main {
    color: #fff;
    max-width: 1200px;
    margin: 0 auto 30px;
}

.logo {
    color: $primary;
    cursor: genre-selector;
    font-size: 20px;
}

.top-content {
    background-color: #232323;
    background-size: cover;
    margin: 0 auto;
    padding: 0 60px 140px;
    margin-bottom: 10px;

    &.selected-movie {
        padding: 0 60px 30px;
    }
}

header {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;

    button {
        text-transform: uppercase;
        font-size: 20px;
        color: $primary;
        background: #80808080;
        border: navajowhite;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 3px;
        height: 46px;
        font-weight: 600;
    }
}

footer {
    background-color: #424242;
    text-align: center;
    padding: 25px 0;
}

.search-box {
    padding-top: 40px;

    .search-input {
        display: flex;
        justify-content: space-between;

        input {
            color: #fff;
        }
    }

    h3,
    button {
        text-transform: uppercase;
    }

    input,
    button {
        display: inline-block;
        border: 0;
        margin: 0;
        font-weight: normal;
        height: 57px;
    }

    h3 {
        font-size: 40px;
        margin: 0 0 40px;
        font-weight: 300;
    }

    input {
        background: rgba(50, 50, 50, 0.8);
        opacity: 0.7;
        border-radius: 4px;
        font-size: 20px;
        line-height: 24px;
        padding: 0 20px;
        width: calc(100% - 286px);
    }

    button {
        background-color: $primary;
        color: #FFF;
        width: 233px;
        border-radius: 4px;
        border: none;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        box-shadow: 0 0 13px 5px #000
    }
}

.controls {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0;
    max-width: 1080px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        height: 1px;
    }

    &::before {
        background-color: #424242;
    }

    &::after {
        content: "";
        top: 62px;
        background-color: #080707;
    }

    .genre-selector {
        button {
            background: transparent;
            border: 0;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: transparent;
                transition: top 100ms ease-in;
            }

            &:hover:after,
            &.selected:after {
                top: 40px;
                background-color: $primary;
            }
        }
    }

    .sort-selector {
        position: relative;

        span {
            color: rgba(255, 255, 255, 0.6)
        }

        >button {
            background-color: transparent;
            border: none;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            padding: 0 15px 0 0;
            cursor: pointer;

            &:after {
                content: "";
                position: absolute;
                top: 4px;
                right: 1px;
                display: inline-block;
                vertical-align: middle;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: $primary transparent transparent transparent;
            }
        }

        .sort-options {
            list-style: none;
            padding: 6px;
            margin: 0;
            position: absolute;
            top: 22px;
            z-index: 1;
            right: 0;
            width: 150px;
            background: #424242;
            border-radius: 3px;

            li {
                border-bottom: 1px solid #fff;
                padding: 3px 0;

                button {
                    cursor: pointer;
                    background: transparent;
                    border: none;
                    display: block;
                    color: #fff;
                    text-transform: uppercase;
                }
            }

            li:last-child {
                border: none;
            }
        }
    }

    .result-count {
        flex-basis: 100%;
        font-size: 20px;
        line-height: 24px;
        padding: 20px 0;
    }
}


.main-content {
    background: #232323;
}

.movie-tiles {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
}

.movie-wrapper {
    padding: 0 30px 50px;
    width: 33.3%;

    .img-wrapper {
        width: 100%;
        height: 455px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;

        .movie-opts {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 190px;
            background: rgba(35, 35, 35, 0.918051);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 50px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(13.5914px);
            border-radius: 4px;

            >ul {
                padding: 0;
                margin: 0;
                list-style: none;
                padding: 20px 0 5px 0;

                >li {
                    display: block;
                    padding: 0;

                    >button {
                        font-size: 16px;
                        line-height: 32px;
                        background: transparent;
                        border: none;
                        color: #FFF;
                        cursor: pointer;
                        display: block;
                        margin: 0;
                        width: 100%;
                        text-align: left;
                        padding-left: 20px;

                        &:hover {
                            background: #F65261;
                            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 50px rgba(0, 0, 0, 0.1);
                            backdrop-filter: blur(13.5914px);
                        }
                    }
                }
            }
        }

        >button {
            border-radius: 50px;
            background: #2A202D;
            display: none;
            position: absolute;
            top: 15px;
            right: 15px;
            color: #fff;
            width: 36px;
            height: 36px;
            line-height: 36px;
            border: none;
            cursor: pointer;

            &:after {
                content: '\2807';
                font-size: 26px;
                display: inline-block;
                width: 13px;
            }
        }

        &:hover>button {
            display: block;
        }
    }

    h5 {
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        opacity: 0.7;
        margin: 0 0 10px;
        display: flex;
        justify-content: space-between;

        >span {
            border: 1px solid #555555;
            border-radius: 4px;
            height: 26px;
            line-height: 26px;
            font-size: 14px;
            text-align: center;
            width: 66px;
        }
    }

    h6 {
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        opacity: 0.5;
        margin: 0;
    }
}

.delete-movie-box {
    width: 686px;

}

.edit-movie-box {
    width: 976px;
    color: $primary;
    top: 100px;

    .layout {
        display: flex;
        flex-wrap: wrap;

        .left {
            width: 60%;
            padding-right: 20px;
            padding-bottom: 30px;
        }

        .right {
            width: 40%;
            padding-left: 20px;
            padding-bottom: 30px;
        }

        .top-errors {
            flex-basis: 100%;

            ul {
                list-style: none;
                padding: 0;
            }
        }

        .bottom {
            flex-basis: 100%;
        }
    }
}

.list-droprown {
    position: relative;

    button {
        margin-top: 10px;
        width: 100%;
        color: #FFF;
        display: block;
        border: none;
        background: rgba(50, 50, 50, 0.948044);
        mix-blend-mode: normal;
        opacity: 0.8;
        border-radius: 4px;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        padding: 15px 40px 15px 15px;
        cursor: pointer;
        height: 54px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            top: 24px;
            right: 16px;
            display: inline-block;
            vertical-align: middle;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #F65261 transparent transparent transparent;
            rotate: 0deg;
            transition: rotate 100ms ease-in;
        }

        &.open:after {
            rotate: 180deg;
        }
    }

    .checkbox-list {
        position: absolute;
        top: 54px;
        background: rgba(35, 35, 35, 0.918051);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 50px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13.5914px);
        border-radius: 4px;
        left: 0;
        right: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1;
        max-height: 220px;
        overflow-y: scroll;

        li {
            display: flex;
            font-size: 20px;
            line-height: 24px;
            color: #FFF;
            input {
                display: inline;
                margin: 0 5px 0 0;
                accent-color: $primary;
            }

            label {
                padding: 10px 15px;
                text-transform: none;
                display: block;
                width: 100%;
                cursor: pointer;

                &:hover {
                    background-color: $primary;
                }
            }
        }
    }
}

.top-selected-movie {
    display: flex;

    .left {
        flex-basis: 325px;
        max-height: 445px;
        overflow: hidden;
        position: relative;
    }

    .right {
        flex-basis: calc(100% - 325px);
        padding-left: 60px;
        h3 {
            font-weight: 300;
            font-size: 40px;
            line-height: 49px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0;
            display: flex;
            align-items: center;
            span {
                border-radius: 50%;
                font-weight: normal;
                border: 1px solid #FFF;
                font-size: 20px;
                line-height: 3;
                width: 60px;
                height: 60px;
                display: inline-block;
                text-align: center;
                margin-left: auto;
                margin-right: 0;
                flex: 0 0 60px;
            }
        }

        .genre {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
        }

        .meta {
            color: $primary;
            font-size: 24px;
            line-height: 29px;
            font-weight: 300;
            margin: 30px 0 40px;
            .runtime {
                font-weight: inherit;
                padding-left: 20px;
            }
        }

        .summary {
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            font-weight: 300;
            opacity: 0.5;
        }
    }
}